/* Enter your custom styles here */
/* Scanner */

#preview {
    width: 70%;
    height: 100%;
    padding: 0;
    position: relative;
    object-fit: cover;
  }
  
  .videobox {
    position: absolute;
    height: 200px;
    width: 200px;
    font-size: 2em;
    background-repeat: no-repeat;
    background-position: 10% 10%, 90% 10%, 90% 90%, 10% 90%;
    
    border-radius: 15px;
    /*
    padding: 1.25em;
    */
    background-size: 2em 2em, 2em 2em, 2em 2em, 2em 2em;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 80 80%22%3E%3Cpolygon points=%2280 0 20 0 0 0 0 20 0 80 20 80 20 20 80 20 80 0%22 fill=%22%23fff%22 %2F%3E%3C%2Fsvg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 80 80%22%3E%3Cpolygon points=%2280 0 20 0 0 0 0 20 0 80 20 80 20 20 80 20 80 0%22 fill=%22%23fff%22 transform=%22translate(80, 0) rotate(90)%22 %2F%3E%3C%2Fsvg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 80 80%22%3E%3Cpolygon points=%2280 0 20 0 0 0 0 20 0 80 20 80 20 20 80 20 80 0%22 fill=%22%23fff%22 transform=%22translate(80, 80) rotate(180)%22 %2F%3E%3C%2Fsvg%3E"),
      url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http:%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox=%220 0 80 80%22%3E%3Cpolygon points=%2280 0 20 0 0 0 0 20 0 80 20 80 20 20 80 20 80 0%22 fill=%22%23fff%22 transform=%22translate(0, 80) rotate(270)%22 %2F%3E%3C%2Fsvg%3E");
  }